#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  letter-spacing: -0.5px;
  transition: all 0.2s linear;
  --background-color: #0E121B;
  --btn-color: rgb(51, 92, 255)
}

.main-layout {
  display: flex;
  gap: 2rem;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
  min-width: 150px;
  height: 100vh;
}

.tags {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  font-size: 0.7em;
}

.tag{
  background-color: #525866;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-top: 1px;
  text-align: center;
}

.tag-btn{
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1em;
}

.tag-btn:hover{
  background-color: none;
}

.tag-icon {
  width: 12px;
  height: 12px;
  margin-right: 4px;
  vertical-align: middle;
  fill: white;
  transition: fill 0.2s ease;
}

.tag-btn:hover .tag-icon,
.active-tag .tag-icon,
.clear-filter:hover .tag-icon {
  fill: var(--btn-color);
}

.tags-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  font-size: 0.7em;
}

#tags-title {
  margin: 0.5rem;
}

.clear-filter{
  display:flex;
  align-items: center;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 0.7em;
  margin-left: 1rem;
}

.clear-filter:hover {
  background-color: transparent;
}


.note{
  padding: 1rem;
  height: 80vh;
  text-align: left;
  width: 100%;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
}

.title{
  margin: 0;
  font-weight: 700;
  color:  rgba(255, 255, 255, 0.87);
}

.title.note-title{
  padding-left: 0;
  padding-right: 2;
  font-size: 1.2rem;
}

.note-title::placeholder{
  color: #FFF;
}

.note-view{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.note-list{
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  height: 80vh;
  overflow-y: scroll;
  text-align: left;
  width: 200px;
  box-shadow: 0;
} 



.list-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
  border-radius: 12px;
  color: white;
  box-shadow: none;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.list-card:hover {
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  background-color: rgba(35, 37, 48, 0.5);
}

.last-edited{
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 0.5rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.special{
  background-color: #0E121B;
  color: white;
  border: 1px solid rgba(255,255,255,0.3);
}

.special:hover {
  background-color: #0E121B;
}

.cancel{
  background-color: #232530;
  color: #99A0AE;
}
.cancel:hover {
  background-color: #424242;
}


.card {
  padding: 2em;
}