#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  letter-spacing: -0.5px;
}

.main-notes {
  display: flex;
  gap: 2rem;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
}

.tags {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  font-size: 0.7em;
}

.tag{
  background-color: #525866;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-top: 1px;
  text-align: center;
}

.note{
  padding: 1rem;
  height: 80vh;
  text-align: left;
  width: 100%;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
}

.title{
  margin: 0;
  font-weight: 700;
  color:  rgba(255, 255, 255, 0.87);
}

.title.note-title{
  padding-left: 0;
  padding-right: 2;
  font-size: 1.2rem;
}

.note-title::placeholder{
  color: #FFF;
}

.note-view{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.note-list{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  height: 80vh;
  overflow-y: scroll;
  text-align: left;
  width: 25vw;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.special{
  background-color: #0E121B;
  color: white;
  border: 1px solid rgba(255,255,255,0.3);
}

.special:hover {
  background-color: #0E121B;
}

.cancel{
  background-color: #232530;
  color: #99A0AE;
}
.cancel:hover {
  background-color: #424242;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
